.gbcolor {
    background: linear-gradient(to right ,#13547a , #80d0c7);
  }
  .custom-hr {
    border-color: blue;
    border-image: none;
    border-style: solid none none;
    border-width:4px 0 0 ;
  }
